<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div class="float-left">
        <h3 class="text-info">Release</h3>
      </div>
      <div class="float-right">
        <a class="btn btn-primary" (click)="addRelease()"><i class="fa fa-plus"></i> Nový release</a>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive-sm" *ngIf="releases && releases?.length != 0">
        <table mat-table [dataSource]="releasesdataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{ element.date }}</td>
          </ng-container>
          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef>Version</th>
            <td mat-cell *matCellDef="let element">{{ element.version }}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="releaseDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let release; columns: releaseDisplayedColumns"
            (click)="onReleaseSelected(release)"
          ></tr>
        </table>
      </div>

      <p *ngIf="!releases || releases?.length === 0">Žádné releasy nejsou založené</p>

      <div class="table-responsive-sm" *ngIf="requests && requests?.length != 0">
        <table mat-table [dataSource]="requests" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="sequenceNumber">
            <th mat-header-cell *matHeaderCellDef>Sequence</th>
            <td mat-cell *matCellDef="let element">{{ element.sequenceNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="requestDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let request; columns: requestDisplayedColumns"
            (click)="onRequestSelected(request)"
          ></tr>
        </table>
      </div>

      <br />
      <p *ngIf="!requests || requests?.length === 0">Žádné requesty nejsou založené pro tento release</p>
    </div>

    <div class="card-footer">*Searchable columns are Number, Title and Description</div>
  </div>
</div>
