<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div class="float-left">
        <h3 class="text-info">Codebooks</h3>

        <select
          class="form-select"
          aria-label="Codebooks select"
          (change)="onCodebookSelected($event)"
          name="codebooksSelect"
        >
          <option selected disabled [value]="null">Select codebook name</option>
          <option *ngFor="let codebook of codeboooks" [value]="encodeSpecialCharacters(codebook.fullName)">
            {{ codebook.name }}
          </option>
        </select>

        <section>
          <mat-checkbox [(ngModel)]="showRds" name="chkboxShowRds" (change)="onShowRdsChange($event)">
            Show RDS codebooks</mat-checkbox
          >
        </section>
      </div>

      <div class="form-check ml-6" *ngIf="!isReadOnly">
        <a *ngIf="!lockState.isLocked" class="btn btn-outline-secondary ml-5" (click)="createLockDialog()"
          ><i class="fa fa-lock-open"></i> Unlocked</a
        >
        <a
          *ngIf="lockState.isLocked && currentUser.identifier !== lockState.forUserId"
          class="btn btn-primary ml-5 disabled"
          ><i class="fa fa-lock"></i> Locked for {{ lockState.forUserName }}</a
        >
        <a
          *ngIf="lockState.isLocked && currentUser.identifier === lockState.forUserId"
          class="btn btn-warning ml-5"
          (click)="releaseLock()"
          ><i class="fa fa-lock"></i> Locked</a
        >
      </div>

      <div class="float-right" *ngIf="lockState.isLocked && !isReadOnly && codebookDetailWithData">
        <button
          type="button"
          class="btn btn-primary"
          (click)="addRecord()"
          [ngClass]="{ disabled: !codebookDetailWithData.isEditable }"
        >
          <i class="fa fa-plus"></i> Add
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="editRecord()"
          [ngClass]="{ disabled: !codebookDetailWithData.isEditable || this.selection.selected.length !== 1 }"
        >
          <i class="fa fa-edit"></i> Edit
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="copyRecord()"
          [ngClass]="{ disabled: !codebookDetailWithData.isEditable || this.selection.selected.length !== 1 }"
        >
          <i class="fa fa-copy"></i> Copy
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="removeRecord()"
          [ngClass]="{ disabled: !codebookDetailWithData.isEditable || this.selection.selected.length === 0 }"
        >
          <i class="fa fa-trash"></i> Delete
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="text-info" *ngIf="codebookdataSource && codebookdataSource.data.length != 0">
        {{ codebookDetailWithData.name.split('_').join(' ') }}
      </div>

      <div class="table-responsive-sm" *ngIf="codebookdataSource && codebookdataSource.data.length != 0">
        <table mat-table [dataSource]="codebookdataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container [matColumnDef]="column" *ngFor="let column of columns">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns" (click)="selection.toggle(row)"></tr>
        </table>
      </div>

      <p *ngIf="!codebookDetailWithData || codebookDetailWithData?.data?.length === 0">No data</p>
    </div>
    <div class="card-footer">*Searchable columns are Number, Title and Description</div>
  </div>
</div>
