<h2 mat-dialog-title>Vytvořit zámek</h2>

<div>Vyberte release a request nebo <a [routerLink]="['/release']" (click)="onNoClick()">vytvořte nový</a></div>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Release</mat-label>
    <mat-select formcontrolname="releaseId" (selectionChange)="onReleaseSelected($event.value)">
      <mat-option *ngFor="let release of releases" [value]="release.id"> {{release.name}} </mat-option>
    </mat-select></mat-form-field
  >

  <br />

  <mat-form-field>
    <mat-label>Request</mat-label>
    <mat-select formcontrolname="requestId" (selectionChange)="onRequestSelected($event.value)">
      <mat-option *ngFor="let request of requests" [value]="request.id">
        {{request.name}} {{request.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br />

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Zrušit</button>
    <button mat-button [mat-dialog-close]="selectedRequest" cdkFocusInitial>Vytvořit zámek</button>
  </div>
</div>
