<h2 mat-dialog-title *ngIf="dialogModel.isNewRecord">Nový záznam</h2>
<h2 mat-dialog-title *ngIf="!dialogModel.isNewRecord">Upravit záznam</h2>

<div mat-dialog-content>
  <mat-form-field *ngFor="let column of dialogModel.columns">
    <label mat-label>{{column.name}}</label>
    <input
      matInput
      [(ngModel)]="dialogModel.data[column.name]"
      ngDefaultControl
      [name]="column.name"
      [maxlength]="column.maximumLength === 0 ? null : column.maximumLength"
      [type]="getInputType(column.dataType)"
      [required]="column.isNullable ? null : true"
      [disabled]="column.isIdentity"
    />
    <mat-hint
      >{{column.dataType}} {{(column.maximumLength === 0 ? "" : column.maximumLength)}} {{(column.isNullable ? null :
      "*")}}</mat-hint
    >
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Zrušit</button>
  <button mat-button [mat-dialog-close]="dialogModel" cdkFocusInitial>Uložit</button>
</div>
