<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" translate
      >APP_NAME <i *ngIf="userService.getIsReadOnlyMode()" class="fa fa-lock" title="read-only"></i
    ></a>

    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/info" routerLinkActive="active">
          <i class="fas fa-info-circle"></i>
          <span translate>Info</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/codebooks" routerLinkActive="active">
          <i class="fas fa-calendar-alt"></i>
          <span translate>Codebooks</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/release" routerLinkActive="active">
          <i class="fas fa-recycle"></i>
          <span translate>Release/Request</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/export" routerLinkActive="active">
          <i class="fas fa-download"></i>
          <span translate>Export</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/import" routerLinkActive="active">
          <i class="fas fa-upload"></i>
          <span translate>Import</span>
        </a>
        <!-- <a class="nav-item nav-link text-uppercase" routerLink="/master" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate>Master</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/detail" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span translate>Detail</span>
        </a> -->
      </div>

      <div class="navbar-nav ml-auto">
        <div class="navbar-text text-muted" *ngIf="currentUser">
          {{ currentUser.name }}
          <i
            *ngIf="userService.getIsReader() && !userService.getIsEditor() && !userService.getIsAdmin()"
            class="fa fa-user-lock"
            title="reader"
          ></i>
          <i *ngIf="userService.getIsEditor() && !userService.getIsAdmin()" class="fa fa-user-edit" title="editor"></i>
          <i *ngIf="userService.getIsAdmin()" class="fa fa-user-cog" title="admin"></i>
        </div>
        <a *ngIf="!currentUser" class="btn btn-primary" (click)="login()"><i class="fa fa-user"></i> Login</a>
        <!-- <app-language-selector inNavbar="true" menuClass="dropdown-menu dropdown-menu-right"></app-language-selector> -->
      </div>
    </div>
  </nav>
</header>
